<center>
<h1>Writerskill Member Dashboard</h1>
</center>
<p>

  <br>

  <center>

  Hi, <b> <%= current_member.firstname %> <%= current_member.middleinitial %> <%= current_member.lastname %> </b>
  <br>
  You have <b> <%= current_member.points %> </b> points.



  <div>
    Your email is <b> <%= current_member.email %> </b>
    <br>
    Your birthday is <b> <%= current_member.birthday %> </b>
    <br>
    You live in <b> <%= current_member.address %> </b>
  </div>

  <div>
    Your ID Number is <b> <%= current_member.idnumber %> </b>
    <br>
    You are <b> <%= current_member.year %> <%= current_member.course %> </b>

  </div>

  <br>
  <br>

  <div>

    <b>Emergency Details:</b>
    <br>
    <%= current_member.emergency_person %>
    <br>
    <%= current_member.emergency_phone %>

  </div>

  <br>

    <div>

        <%= form_for(:work, url: submit_path) do |f| %>

        <b>Upload Work</b> <br>
          <%= f.file_field :work %>
          <br>
          <%= f.submit 'Upload' %>
        <% end %>
    </div>

  <br>

  <div>
    <b>Uploaded Works:</b>
    <br>
    <%= link_to current_member.work.url, current_member.work.url  %>
  </div>

  <br>

  <div>
    <b>Events attended:</b>
    <br>
  </div>


</center>
