<center>
<h2>Sign up for the WriterSkill System</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => { :multipart => true })  do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    ID Number<br />
    <%= f.text_field :idnumber, autofocus: true %>
  </div>

  <div class="field">
    First Name<br />
    <%= f.text_field :firstname, autofocus: true %>
  </div>

  <div class="field">
    Middle Initial<br />
    <%= f.text_field :middleinitial, autofocus: true %>
  </div>

  <div class="field">
    Last Name<br />
    <%= f.text_field :lastname, autofocus: true %>
  </div>

  <div class="field">
    Nickname<br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <div class="field">
    Year <br />
    <%= f.text_field :year, autofocus: true %>
  </div>

  <div class="field">
    Course <br />
    <%= f.text_field :course, autofocus: true %>
  </div>

  <div class="field">
    Phone<br />
    <%= f.text_field :phone, autofocus: true %>
  </div>

  <div class="field">
    Home Address<br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    Birthday<br />
    <%= f.date_field :birthday, autofocus: true %>
  </div>

  <div class="field">
    Emergency Contact Person<br />
    <%= f.text_field :emergency_person, autofocus: true %>
  </div>

  <div class="field">
    Emergency Contact Person Phone Number<br />
    <%= f.text_field :emergency_phone, autofocus: true %>
  </div>

  <div class="field">
    Facebook URL<br />
    <%= f.text_field :fb_url, autofocus: true %>
  </div>

  <div class="field">
    Email<br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</center>
