<p id="notice"><%= notice %></p>

<center>

<p>
  <h2>
  <b> <%= @event.name %> </b>  by <b> <%= @event.organized_by %> </b>
</h2>
  <br>

  <b> <%= @event.venue %></b> on </b><%= @event.schedule.strftime("%A %M /%D /%Y") %></b>

  <br>

  <b><%= @event.eventclass %></b>

  <br>

  Attendance: <b><%= @event.attendance %></b>

<br>
<br>
<br>
<br>
<br>
<br>
<br>


    <% if member_signed_in? %>
      <%=  button_to 'Register', :controller => "events", :action => "attend" %>
    <% else %>

      <%= form_for(:login_params, url: attend_path) do |f| %>
        <h3>ID Number</h3>
        <br>
        <%= f.text_field :idnumber %>
        <br>
        <h3>Email</h3>
        <br>
        <%= f.text_field :email %>
        <br>
        <br>
        <%= f.submit 'Register' %>

      <% end %>
    <% end %>

</p>

</center>
