<p id="notice"><%= notice %></p>

<center>

<p>

  <b> <%= @event.name %> </b>  by <b> <%= @event.organized_by %> </b>

  <br>

  <b> <%= @event.venue %></b> on </b><%= @event.schedule %></b>

  <br>

  <b><%= @event.eventclass %></b>

  <br>

  Attendance: <b><%= @event.attendance %></b>


  <div>


    <%= form_for(:login_params, url: attend_path) do |f| %>

      <%= f.text_field :idnumber %>
      <%= f.text_field :email %>
      <br>
      <%= f.submit 'Register' %>

    <% end %>


  </div>


</p>

</center>
