<p id="notice"><%= notice %></p>

<center>

<p>

  <b> <%= @event.name %> </b>  by <b> <%= @event.organized_by %> </b>

  <br>

  <b> <%= @event.venue %></b> on </b><%= @event.schedule %></b>

  <br>

  <b><%= @event.eventclass %></b>

  <br>

  Attendance: <b><%= @event.attendance %></b>


  <div>

    <% if member_signed_in? %>
      <%=  button_to 'Register', :controller => "events", :action => "attend" %>
    <% else %>

      <%= form_for(:login_params, url: attend_path) do |f| %>
        ID Number<br>
        <%= f.text_field :idnumber %>
        Email<br><br><br>
        <%= f.text_field :email %>
        <br>
        <%= f.submit 'Register' %>

      <% end %>
    <% end %>


  </div>

  Attendees:



</p>

</center>
